[Unit]
Description=PapamonMasterApp Python
After=systemd-user-sessions.service
[Service]
Type=simple
User=papamon
ExecStart=sudo /usr/bin/python3 -u /home/papamon/Documents/papamon/MasterApp.py
WorkingDirectory=/home/papamon/Documents/papamon
Restart=on-failure
RestartSec=10
[Install]
WantedBy=default.target
