[Unit]
Description=Papamon SyncApp Service
Requires=network-online.target
Wants=network-online.target
After= network-online.target systemd-user-sessions.service 

[Service]
Type=simple
User=papamon
TimeoutStartSec=200
ExecStartPre=/bin/sleep 5
ExecStart=python3 -u /home/papamon/Documents/papamon/SyncApp.py
WorkingDirectory=/home/papamon/Documents/papamon
Restart=on-failure
RestartSec=10
[Install]
WantedBy=default.target
