[Unit]
Description=Temporizador para ejecutar el servicio cada X tiempo

[Timer]
OnUnitActiveSec=300m
OnBootSec=5m
Unit=syncRClone.service

[Install]
WantedBy=timers.target
