__pycache__/
.vscode/
# Ignorar archivos y directorios específicos (reemplaza "nombre_archivo_o_directorio" con los nombres reales)
statusRaspberies.json
raspberry.json
raspberries.json
scheduler.json
schedulerGetImages.json
me.json
status.json
/reconstruct/.vs/papamon/FileContentIndex/1b5b8065-efae-4a25-a289-0cc8cc9e264f.vsidx
/reconstruct/.vs/papamon/FileContentIndex/270b0a6a-4a5a-44a8-88e1-1d138d4091d2.vsidx
/reconstruct/.vs/papamon/FileContentIndex/9d49fa33-339c-45c4-a0f7-9fc5d35b4794.vsidx
/reconstruct/.vs/papamon/FileContentIndex/d7b91762-3104-4148-a2c9-65337e55fc0c.vsidx
/reconstruct/.vs/papamon/FileContentIndex/read.lock
/reconstruct/.vs/papamon/v17/.suo
/reconstruct/.vs/papamon/v17/Browse.VC.db
/reconstruct/.vs/papamon/v17/Browse.VC.db-shm
/reconstruct/.vs/papamon/v17/Browse.VC.db-wal
/reconstruct/.vs/papamon/v17/Browse.VC.opendb
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/1e58fbce23db26a5/IMGUI_WIDGETS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/3f91ef2fe7981c65/RS-SAVE-CAM-STATUS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/443ea32199dcbe2f/SCENE.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/69caf79f7699c42c/UTILS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/a4449b0c3d5fd512/SCENE.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/c1ee9c18fd18fd9d/UTILS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/cd5dc44a09c0cbe0/IMGUI.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/e40a7823f51c87ea/MAINRECONSTRUCT.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/f9f0d57e8d4bb198/WIN32_WINDOW.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/fb30d50acda0280b/RS-SAVE-CAM-STATUS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/fbe992af0ba82893/IMGUI_IMPL_GLFW.ipch
/reconstruct/.vs/papamonViewer/FileContentIndex/ff827503-a017-462f-90bf-3345dc5bd6e8.vsidx
/reconstruct/.vs/papamonViewer/FileContentIndex/read.lock
/reconstruct/.vs/papamonViewer/v17/.suo
/reconstruct/.vs/papamonViewer/v17/Browse.VC.db
/reconstruct/x64/Debug/mainReconstruct.obj
/reconstruct/x64/Debug/papamonViewer.log
/reconstruct/x64/Debug/papamonViewer.tlog/CL.command.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/CL.read.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/CL.write.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/link.command.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/link.read.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/link.write.1.tlog
/reconstruct/x64/Debug/papamonViewer.tlog/papamonViewer.lastbuildstate
/reconstruct/x64/Debug/rs-papamonD.exe.recipe
/reconstruct/x64/Debug/rs-papamonD.ilk
/reconstruct/x64/Debug/scene.obj
/reconstruct/x64/Debug/vc143.idb
/reconstruct/x64/Debug/vc143.pdb
/reconstruct/papamon.sln
/reconstruct/papamon.vcxproj
/reconstruct/papamon.vcxproj.user
/reconstruct/papamonViewer.vcxproj
/reconstruct/papamonViewer.vcxproj.filters
/reconstruct/papamonViewer.vcxproj.user
/reconstruct/rs-save-to-disk-output-depth.png
/reconstruct/rs-save-to-disk-output-rgb.png
/reconstruct/.vs/papamon/FileContentIndex/2ec7c786-b2dc-4598-92f3-04f5fcdc13d7.vsidx
/reconstruct/.vs/papamon/FileContentIndex/52958421-ea60-481c-af4e-e43a6ab58c33.vsidx
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/5d7425219db2b8a1/MAINCAPTURECAM.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/6e3deea81947182d/SCENE.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/d5c06e0050223a6c/MAINRECONSTRUCT.ipch
/reconstruct/x64/Debug/mainreconstruct.obj.enc
/reconstruct/x64/Debug/papamon.log
/reconstruct/x64/Debug/papamon.tlog/CL.command.1.tlog
/reconstruct/x64/Debug/papamon.tlog/CL.read.1.tlog
/reconstruct/x64/Debug/papamon.tlog/CL.write.1.tlog
/reconstruct/x64/Debug/papamon.tlog/link.command.1.tlog
/reconstruct/x64/Debug/papamon.tlog/link.read.1.tlog
/reconstruct/x64/Debug/papamon.tlog/link.write.1.tlog
/reconstruct/x64/Debug/papamon.tlog/papamon.lastbuildstate
/reconstruct/x64/Debug/papamonViewer.vcxproj.FileListAbsolute.txt
/reconstruct/x64/Debug/rs-reconstructD.Build.CppClean.log
/reconstruct/x64/Debug/rs-reconstructD.exe.recipe
/reconstruct/x64/Debug/rs-reconstructD.ilk
/reconstruct/x64/Debug/utils.obj
/reconstruct/x64/Release/mainReconstruct.obj
/reconstruct/x64/Release/papamonViewer.log
/reconstruct/x64/Release/papamonViewer.tlog/CL.command.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/CL.read.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/CL.write.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/link.command.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/link.read.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/link.write.1.tlog
/reconstruct/x64/Release/papamonViewer.tlog/papamonViewer.lastbuildstate
/reconstruct/x64/Release/papamonViewer.vcxproj.FileListAbsolute.txt
/reconstruct/x64/Release/rs-reconstructR.Build.CppClean.log
/reconstruct/x64/Release/rs-reconstructR.exe.recipe
/reconstruct/x64/Release/rs-reconstructR.iobj
/reconstruct/x64/Release/rs-reconstructR.ipdb
/reconstruct/x64/Release/scene.obj
/reconstruct/x64/Release/utils.obj
/reconstruct/x64/Release/vc143.pdb
/reconstruct/.vs/papamon/FileContentIndex/48c35182-82fb-450f-8cb9-26023967c00a.vsidx
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/ca80e5f960a1d869/SCENE.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/cb2514cb1283686d/RS-SAVE-CAM-STATUS.ipch
/reconstruct/.vs/papamon/v17/Solution.VC.db
/reconstruct/.vs/papamon/v17/Solution.VC.db-shm
/reconstruct/.vs/papamon/v17/Solution.VC.db-wal
/reconstruct/x64/Debug/papamon.vcxproj.FileListAbsolute.txt
/reconstruct/x64/Debug/rs-papamonD.Build.CppClean.log
/reconstruct/x64/Debug/rs-save-cam-status.obj
/reconstruct/x64/Release/papamon.exe.recipe
/reconstruct/x64/Release/papamon.iobj
/reconstruct/x64/Release/papamon.ipdb
/reconstruct/x64/Release/papamon.log
/reconstruct/x64/Release/papamon.pdb
/reconstruct/x64/Release/papamon.tlog/CL.command.1.tlog
/reconstruct/x64/Release/papamon.tlog/CL.read.1.tlog
/reconstruct/x64/Release/papamon.tlog/CL.write.1.tlog
/reconstruct/x64/Release/papamon.tlog/link.command.1.tlog
/reconstruct/x64/Release/papamon.tlog/link.read.1.tlog
/reconstruct/x64/Release/papamon.tlog/link.write.1.tlog
/reconstruct/x64/Release/papamon.tlog/papamon.lastbuildstate
/reconstruct/x64/Release/papamon.vcxproj.FileListAbsolute.txt
/reconstruct/x64/Release/rs-papamonR.exe.recipe
/reconstruct/x64/Release/rs-papamonR.iobj
/reconstruct/x64/Release/rs-papamonR.ipdb
/reconstruct/x64/Release/rs-save-cam-status.obj
/reconstruct/.vs/papamon/FileContentIndex/8ca14fac-af2f-41b1-849d-738a159b99d2.vsidx
/reconstruct/.vs/papamon/FileContentIndex/f7a7e04c-23d9-4b15-96f6-f137e31efd50.vsidx
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/4a5feea9828a9551/IMGUI_INTERNAL.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/985e781108c9e472/IMGUI.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/bf170df2ce1ff95a/UTILS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/c33d1099f04b5ac2/UTILS.ipch
/reconstruct/.vs/papamon/v17/ipch/AutoPCH/cfe3e7f050b3dbb7/SCENE.ipch
