[
     {
        "state": false,
        "message": "",
        "raspberry": {
            "id": "",
            "name": "",
            "ip": "",
            "port": ""
        },
        "status": {
            "cameraRunning": null,
            "lastImage": null
        }
    }
]