{
    "monday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "tuesday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "wednesday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "thursday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "friday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "saturday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ],
    "sunday": [
        {
            "hour": "13",
            "minute": "00",
            "second": "00"
        },
        {
            "hour": "21",
            "minute": "00",
            "second": "00"
        }
    ]
}