{
    "monday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "tuesday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "wednesday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "thursday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "friday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "saturday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ],
    "sunday": [
      {
        "hour": "00",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "08",
        "minute": "00",
        "second": "00"
      },
      {
        "hour": "16",
        "minute": "00",
        "second": "00"
      }
    ]
  }